[submodule "submodules/oh-my-tmux"]
	path = submodules/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git

[submodule "submodules/oh-my-bash"]
	path = submodules/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash
