Downloads
rpmbuild
.viminfo
.ssh
.local
.var/app
.cache
.bash_history
.gitconfig
.config/dconf/user
dot-config/gh/
dot-config/nvim/lazy-lock.json
dot-config/mimeapps.list
dot-fonts/CascadiaCode/.uuid
dot-fonts/.uuid
dot-config/tmux/plugins
.config/github-copilot/versions.json
