* {
  all: unset;
}

.bar {
  background-color: rgba(30, 30, 46, 0.85);
  color: #cdd6f4;
  padding: 5px 10px;
}

.input-method {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  background-color: #1e1e2e;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 5px;
}

